# kNN | knn-project-data.csv | Kat Cosgrove | 29 March 2018

In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import preprocessing
from sklearn import utils
from sklearn.metrics import classification_report, confusion_matrix
from sklearn import neighbors
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv('./knn-project-data.csv')
df.head(20)

,XVPM,GWYH,TRAT,TLLZ,IGGA,HYKR,EDFS,GUUB,MGJM,JHZC,TARGET CLASS
0,1636.670614,817.988525,2565.995189,358.347163,550.417491,1618.870897,2147.641254,330.727893,1494.878631,845.136088,0
1,1013.402760,577.587332,2644.141273,280.428203,1161.873391,2084.107872,853.404981,447.157619,1193.032521,861.081809,1
2,1300.035501,820.518697,2025.854469,525.562292,922.206261,2552.355407,818.676686,845.491492,1968.367513,1647.186291,1
3,1059.347542,1066.866418,612.000041,480.827789,419.467495,685.666983,852.867810,341.664784,1154.391368,1450.935357,0
4,1018.340526,1313.679056,950.622661,724.742174,843.065903,1370.554164,905.469453,658.118202,539.459350,1899.850792,0
5,1587.993461,667.420121,2072.048544,364.624958,905.011385,2229.178514,880.442566,568.698408,645.719217,2156.949990,1
6,1497.293624,822.435853,908.059366,671.797517,1280.270442,1910.066313,1052.812386,713.757499,703.951632,1088.493788,0
7,1172.820769,1166.958461,455.656588,445.572745,1109.894585,1045.551452,1301.821786,264.940137,945.023932,2307.922229,0
8,839.494647,1089.747059,653.699894,659.334590,1529.725972,1521.320489,1401.676227,433.025043,1289.063583,1690.149835,0
9,1028.689140,202.089774,1030.841860,429.109102,943.104815,1978.506855,653.178512,753.655291,1336.375960,1057.864848,1
10,1042.945431,826.009900,741.518594,548.237381,1528.675999,2045.541016,870.245199,495.177338,1452.401331,1814.555350,0
11,715.533949,768.001549,1513.342810,95.995876,1281.787242,1090.217180,1982.211252,465.589381,914.055858,872.705660,1
12,747.291672,686.633284,1616.229550,511.187764,1134.462664,795.097388,1990.580165,117.923416,1325.204825,1377.789557,1
13,1283.507423,431.894668,1546.932746,561.885634,525.956592,867.627120,595.690573,458.891368,1299.239680,1056.137311,0
14,520.803032,804.054262,1758.460120,485.304401,1130.508717,1303.730111,2076.521050,962.861165,773.552380,314.471215,1
15,873.129617,452.918372,2502.381633,473.005027,1104.841980,962.953843,2442.336841,426.760687,1018.262154,1416.744985,1
16,788.743418,1074.643318,1590.149211,352.876013,264.318910,2044.646303,497.956076,509.536209,967.398479,921.143209,0
17,1656.397158,1246.507359,819.564695,759.176657,1177.173127,1138.812756,2028.880845,774.385137,1220.454072,1511.862543,0
18,1659.985069,564.261480,1330.514249,351.212679,1133.611093,1401.643495,1537.033328,185.944509,704.436036,1530.576756,1
19,977.970511,1256.551409,1296.039273,446.883756,856.889614,2207.645059,1144.668238,304.050293,385.652365,1098.520412,0

In [3]:
df.describe()

,XVPM,GWYH,TRAT,TLLZ,IGGA,HYKR,EDFS,GUUB,MGJM,JHZC,TARGET CLASS
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000
mean,1055.071157,991.851567,1529.373525,495.107156,940.590072,1550.637455,1561.003252,561.346117,1089.067338,1452.521629,0.50000
std,370.980193,392.278890,640.286092,142.789188,345.923136,493.491988,598.608517,247.357552,402.666953,568.132005,0.50025
min,21.170000,21.720000,31.800000,8.450000,17.930000,27.930000,31.960000,13.520000,23.210000,30.890000,0.00000
25%,767.413366,694.859326,1062.600806,401.788135,700.763295,1219.267077,1132.097865,381.704293,801.849802,1059.499689,0.00000
50%,1045.904805,978.355081,1522.507269,500.197421,939.348662,1564.996551,1565.882879,540.420379,1099.087954,1441.554053,0.50000
75%,1326.065178,1275.528770,1991.128626,600.525709,1182.578166,1891.937040,1981.739411,725.762027,1369.923665,1864.405512,1.00000
max,2117.000000,2172.000000,3180.000000,845.000000,1793.000000,2793.000000,3196.000000,1352.000000,2321.000000,3089.000000,1.00000

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 11 columns):
XVPM            1000 non-null float64
GWYH            1000 non-null float64
TRAT            1000 non-null float64
TLLZ            1000 non-null float64
IGGA            1000 non-null float64
HYKR            1000 non-null float64
EDFS            1000 non-null float64
GUUB            1000 non-null float64
MGJM            1000 non-null float64
JHZC            1000 non-null float64
TARGET CLASS    1000 non-null int64
dtypes: float64(10), int64(1)
memory usage: 86.0 KB

In [5]:
# sns.pairplot(df, hue='TARGET CLASS', palette='coolwarm')

In [6]:
x = df.drop('TARGET CLASS', axis=1) 
y = df['TARGET CLASS'].ravel()

In [7]:
x.head()

,XVPM,GWYH,TRAT,TLLZ,IGGA,HYKR,EDFS,GUUB,MGJM,JHZC
0,1636.670614,817.988525,2565.995189,358.347163,550.417491,1618.870897,2147.641254,330.727893,1494.878631,845.136088
1,1013.402760,577.587332,2644.141273,280.428203,1161.873391,2084.107872,853.404981,447.157619,1193.032521,861.081809
2,1300.035501,820.518697,2025.854469,525.562292,922.206261,2552.355407,818.676686,845.491492,1968.367513,1647.186291
3,1059.347542,1066.866418,612.000041,480.827789,419.467495,685.666983,852.867810,341.664784,1154.391368,1450.935357
4,1018.340526,1313.679056,950.622661,724.742174,843.065903,1370.554164,905.469453,658.118202,539.459350,1899.850792

In [8]:
X_train, X_test, Y_train, Y_test = train_test_split(x, y, test_size=0.3, random_state=123)

In [14]:
sc = preprocessing.StandardScaler()

sc.fit(X_train)
X_train = sc.transform(X_train)
X_test = sc.transform(X_test)

In [15]:
df_feat = pd.DataFrame(X_train, columns=df.columns[:-1])
df_feat.head()

,XVPM,GWYH,TRAT,TLLZ,IGGA,HYKR,EDFS,GUUB,MGJM,JHZC
0,0.243153,-0.703150,0.578687,0.957767,-1.319899,-1.381668,-0.521419,-0.019706,0.055303,-1.952736
1,-1.510972,0.315426,0.114429,1.352864,-1.135874,0.062502,-1.593564,0.300670,-0.268813,-0.712686
2,-0.631810,0.461987,-1.171304,0.218444,0.941554,-0.874847,-0.145139,0.797906,2.992927,0.288865
3,0.964889,-0.209028,0.530474,1.215125,1.018235,1.356315,-0.492608,-0.342032,-0.868206,0.758149
4,2.444071,1.252274,0.225559,-0.488157,0.339123,-0.919267,-0.440980,0.072830,-1.901967,-0.033800

In [36]:
knn = neighbors.KNeighborsClassifier(n_neighbors=20)  
knn.fit(X_train, Y_train)

Y_pred = knn.predict(X_test)

print(confusion_matrix(Y_test, Y_pred))  
print(classification_report(Y_test, Y_pred))

[[124  19]
 [ 25 132]]
             precision    recall  f1-score   support

          0       0.83      0.87      0.85       143
          1       0.87      0.84      0.86       157

avg / total       0.85      0.85      0.85       300

In [32]:
# error_rate = []

# for i in range(1,40):
    
#     knn = neighbors.KNeighborsClassifier(n_neighbors=i)
#     knn.fit(X_train, Y_train)
#     pred_i = knn.predict(X_test)
#     error_rate.append(np.mean([pred_i != Y_test]))